@model BobDeathmic.Data.DBModels.StreamModels.SecurityToken
@using BobDeathmic.Data.Enums.Stream


<div class="pa-35">
    <h4>SecurityToken</h4>
    <hr />
    <form asp-controller="Admin" asp-action="AddSecurityToken">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ClientID" class="control-label"></label>
            <input asp-for="ClientID" class="form-control" />
            <span asp-validation-for="ClientID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="secret" class="control-label"></label>
            <input asp-for="secret" class="form-control" />
            <span asp-validation-for="secret" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="service" class="control-label"></label>
            <select asp-for="service" class="form-control">
                @foreach (var tokentyp in ViewData["TokenTypes"] as List<TokenType>)
                {
                    <option>@tokentyp</option>
                }
            </select>
            <span asp-validation-for="service" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </form>
</div>
        

