# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
BotDeathmic/bin/Debug/DeathmicChatbot.exe.config
BotDeathmic/bin/Debug/DeathmicChatbot.vshost.exe
BotDeathmic/bin/Debug/DeathmicChatbot.vshost.exe.config
BotDeathmic/bin/Debug/DeathmicChatbot.vshost.exe.manifest
*.exe
*.pdb
BotDeathmic/bin/Debug/IrcDotNet.dll
BotDeathmic/bin/Debug/RestSharp.dll
BotDeathmic/bin/Debug
DeathmicChatbot/bin/Debug/botlock
DeathmicChatbot/bin/Debug/DeathmicChatbot.exe.config
DeathmicChatbot/bin/Debug/DeathmicChatbot.vshost.exe.config
DeathmicChatbot/bin/Debug/DeathmicChatbot.vshost.exe.manifest
DeathmicChatbot/bin/Debug/Google.GData.Client.dll
DeathmicChatbot/bin/Debug/Google.GData.Extensions.dll
DeathmicChatbot/bin/Debug/Google.GData.YouTube.dll
DeathmicChatbot/bin/Debug/HtmlAgilityPack.dll
DeathmicChatbot/bin/Debug/HtmlAgilityPack.xml
DeathmicChatbot/bin/Debug/IrcDotNet.dll
DeathmicChatbot/bin/Debug/IrcDotNet.xml
DeathmicChatbot/bin/Debug/Newtonsoft.Json.dll
DeathmicChatbot/bin/Debug/Newtonsoft.Json.xml
DeathmicChatbot/bin/Debug/RestSharp.dll
DeathmicChatbot/bin/Debug/RestSharp.xml
DeathmicChatbot/bin/Debug/streamdata_hitbox.txt
DeathmicChatbot/bin/Debug/streamdata_twitch.txt
DeathmicChatbot/bin/Debug/XML/Streams.xml
DeathmicChatbot/bin/Debug/XML/Users.xml
DeathmicChatbot/obj/Debug/DeathmicChatbot.csproj.FileListAbsolute.txt
DeathmicChatbot/obj/Debug/DeathmicChatbot.csproj.GenerateResource.Cache
DeathmicChatbot/obj/Debug/DeathmicChatbot.csprojResolveAssemblyReference.cache
DeathmicChatbot/obj/Debug/DeathmicChatbot.Properties.Resources.resources
DeathmicChatbot/obj/Debug/DesignTimeResolveAssemblyReferences.cache
DeathmicChatbot/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DeathmicChatbot/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DeathmicChatbot/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DeathmicChatbot/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DeathmicChatbot/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll