################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BobDeathmic/bin/
/BobDeathmic/obj
/BobDeathmic/bin
/BobDeathmic/bin/
/BobDeathmic/bin/*
/BobDeathmic/Migrations/*
/BobDeathmic/appsettings.json
/.vs
/Bob