<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BobDeathmic</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/FontAwesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navi.css" />
    <link rel="stylesheet" href="~/css/paddings.css" />
    <link rel="stylesheet" href="~/css/margins.css" />
    <link rel="stylesheet" href="~/css/settings.css" />
    <link rel="stylesheet" href="~/css/typography.css" />


</head>
<body>
    <header>
        <a asp-area="" asp-controller="Main" asp-action="Index"><img src="~/images/BobDeathmicLogo.png" class="logo" /></a>
        @if (User.IsInRole("User") || User.IsInRole("Admin") || User.IsInRole("Dev"))
        {
            <div class="navigation">
                <span class="navi_item" data-subnavtarget="User"><i class="fas fa-user"></i><span class="d-none ml-2 d-sm-inline">Benutzer</span></span>
                <span class="navi_item" data-subnavtarget="Streams"><i class="fas fa-film"></i><span class="d-none ml-2 d-sm-inline">Streams</span></span>
                <span class="navi_item" data-subnavtarget="Events"><i class="fas fa-dice"></i><span class="d-none ml-2 d-sm-inline">Events</span></span>
                <span class="navi_item" data-subnavtarget="GiveAway"><i class="fas fa-gift"></i><span class="d-none ml-2 d-sm-inline">GiveAway</span></span>
                <a class="navi_item" asp-area="" asp-controller="Help" asp-action="Index"><i class="fas fa-question"></i><span class="d-none ml-2 d-sm-inline">Hilfe</span></a>
                @if (User.IsInRole("Dev") || User.IsInRole("Admin"))
                {
                    <a asp-area="" class="navi_item" asp-controller="Services" asp-action="ServiceControls"><i class="fas fa-cogs"></i><span class="d-none ml-2 d-sm-inline">Dienste</span></a>
                    <span class="navi_item" data-subnavtarget="Admin"><i class="fas fa-screwdriver"></i><span class="d-none ml-2 d-sm-inline">Admin</span></span>
                }
            </div>
        }
    </header>
    @if (User.IsInRole("User") || User.IsInRole("Admin") || User.IsInRole("Dev"))
    {
        <div class="subnavigation container-fluid">
            <div class="navi_submenu row" data-subnav="User">
                <div class="menuitem col-12 col-sm-6 col-md-4">
                    <a asp-area="" asp-controller="User" asp-action="Subscriptions">
                        <div class="navi-card">
                            <div>
                                <span class="d-inline-block nav_circle"><i class="fab fa-affiliatetheme"></i></span>
                            </div>
                            Subscriptions
                        </div>
                    </a>
                </div>
                <div class="menuitem col-12 col-sm-6 col-md-4">
                    <a asp-area="" asp-controller="User" asp-action="ChangePassword">
                        <div class="navi-card">
                            <div>
                                <span class="d-inline-block nav_circle"><i class="fas fa-key"></i></span>
                            </div>
                            Passwort ändern
                        </div>
                    </a>
                </div>
                <div class="menuitem col-12 col-sm-6 col-md-4">
                    <a asp-area="" asp-controller="User" asp-action="DeleteUser">
                        <div class="navi-card">
                            <div>
                                <span class="d-inline-block nav_circle"><i class="fas fa-user-minus"></i></span>
                            </div>
                            Nutzer löschen

                        </div>
                    </a>
                </div>
            </div>
            <div class="navi_submenu row" data-subnav="Streams">
                <div class="menuitem col-12 col-sm-6 col-md-4">
                    <a asp-area="" asp-controller="Stream" asp-action="Status">
                        <div class="navi-card">
                            <div>
                                <span class="d-inline-block nav_circle"><i class="fas fa-signal"></i></span>
                            </div>
                            Status
                        </div>
                    </a>
                </div>
                <div class="menuitem col-12 col-sm-6 col-md-4">
                    <a asp-area="" asp-controller="Stream" asp-action="Verwaltung">
                        <div class="navi-card">
                            <div>
                                <span class="d-inline-block nav_circle"><i class="fas fa-users-cog"></i></span>
                            </div>
                            Verwaltung
                        </div>
                    </a>
                </div>
                <div class="menuitem col-12 col-sm-6 col-md-4">
                    <a asp-area="" asp-controller="Stream" asp-action="Create">
                        <div class="navi-card">
                            <div>
                                <span class="d-inline-block nav_circle"><i class="fa fa-plus"></i></span>
                            </div>
                            Hinzufügen
                        </div>
                    </a>
                </div>
                <div class="menuitem col-12 col-sm-6 col-md-4">
                    <a asp-area="" asp-controller="StreamCommands" asp-action="Index">
                        <div class="navi-card">
                            <div>
                                <span class="d-inline-block nav_circle"><i class="fas fa-comments"></i></span>
                            </div>
                            Commands
                        </div>
                    </a>
                </div>
                <div class="menuitem col-12 col-sm-6 col-md-4">
                    <a asp-area="" asp-controller="Stream" asp-action="QuoteList">
                        <div class="navi-card">
                            <div>
                                <span class="d-inline-block nav_circle"><i class="fas fa-quote-right"></i></span>
                            </div>
                            Quotes
                        </div>
                    </a>
                </div>
            </div>
            <div class="navi_submenu row" data-subnav="Events">
                <div class="menuitem col-12 col-sm-6 col-md-4">
                    <a asp-area="" asp-controller="Events" asp-action="Index">
                        <div class="navi-card">
                            <div>
                                <span class="d-inline-block nav_circle"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                            Event Kalendar
                        </div>
                    </a>
                </div>
                <div class="menuitem col-12 col-sm-6 col-md-4">
                    <a asp-area="" asp-controller="Character" asp-action="Index">
                        <div class="navi-card">
                            <div>
                                <span class="d-inline-block nav_circle"><i class="fas fa-user-cog"></i></span>
                            </div>
                            Character Rollen
                        </div>
                    </a>
                </div>
            </div>
            <div class="navi_submenu row" data-subnav="GiveAway">
                <div class="menuitem col-12 col-sm-6 col-md-4">
                    <a asp-area="" asp-controller="GiveAway" asp-action="Index">
                        <div class="navi-card">
                            <div>
                                <span class="d-inline-block nav_circle"></span>
                            </div>
                            Meine Geschenke
                        </div>
                    </a>
                </div>
                <div class="menuitem col-12 col-sm-6 col-md-4">
                    <a asp-area="" asp-controller="GiveAway" asp-action="Winnings">
                        <div class="navi-card">
                            <div>
                                <span class="d-inline-block nav_circle"></span>
                            </div>
                            Gewonne Geschenke
                        </div>
                    </a>
                </div>
                @if (User.IsInRole("Dev") || User.IsInRole("Admin"))
                {
                    <div class="menuitem col-12 col-sm-6 col-md-4">
                        <a asp-area="" asp-controller="GiveAway" asp-action="Admin">
                            <div class="navi-card">
                                <div>
                                    <span class="d-inline-block nav_circle"></span>
                                </div>
                                Admin
                            </div>
                        </a>
                    </div>
                }
            </div>
            @if (User.IsInRole("Dev") || User.IsInRole("Admin"))
            {
                <div class="navi_submenu row" data-subnav="Admin">
                    <div class="menuitem col-12 col-sm-6 col-md-4">
                        <a asp-area="" asp-controller="Admin" asp-action="SecurityTokens">
                            <div class="navi-card">
                                <div>
                                    <span class="d-inline-block nav_circle"></span>
                                </div>
                                Tokens
                            </div>
                        </a>
                    </div>
                    <div class="menuitem col-12 col-sm-6 col-md-4">
                        <a asp-area="" asp-controller="UserAdmin" asp-action="Index">
                            <div class="navi-card">
                                <div>
                                    <span class="d-inline-block nav_circle"></span>
                                </div>
                                User Manager
                            </div>
                        </a>
                    </div>
                    <div class="menuitem col-12 col-sm-6 col-md-4">
                        <a asp-area="" asp-controller="DiscordBans" asp-action="Index">
                            <div class="navi-card">
                                <div>
                                    <span class="d-inline-block nav_circle"></span>
                                </div>
                                Discord Bans
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    }
    <div class="body">
        @RenderBody()
    </div>

    <footer class="d-flex">
        @await Html.PartialAsync("_LoginPartial")
        @await Html.PartialAsync("_LogoutPartial")
        <a href="~/Datenschutz.html">Datenschutz</a>
    </footer>
    <script>
        document.querySelectorAll(".navi_item").forEach((navitem) => { navitem.addEventListener("click", handleSubMenuClick) });
        function handleSubMenuClick(e) {
            var region = e.target.getAttribute("data-subnavtarget");
            if (region == null) {
                region = e.target.closest(".navi_item").getAttribute("data-subnavtarget");
            }
            if (region != null) {

                var height = 0;
                if (document.querySelector(".navi_submenu[data-subnav='" + region + "']").classList.contains("open")) {
                    document.querySelectorAll(".navi_item").forEach((navitem) => { navitem.classList.remove("active") });
                    document.querySelectorAll(".navi_submenu").forEach((submenu) => { submenu.classList.remove("open") });
                    document.querySelector(".subnavigation").style.height = "0px";
                }
                else {
                    document.querySelectorAll(".navi_item").forEach((navitem) => { navitem.classList.remove("active") });
                    document.querySelectorAll(".navi_submenu").forEach((submenu) => { submenu.classList.remove("open") });
                    document.querySelector(".navi_item[data-subnavtarget='" + region + "']").classList.add("active");
                    document.querySelector(".navi_submenu[data-subnav='" + region + "']").classList.add("open");
                    height = document.querySelector(".navi_submenu[data-subnav='" + region + "']").clientHeight;
                    document.querySelector(".subnavigation").style.height = height + "px";
                }
            }

        }
    </script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/responsivetables.js" asp-append-version="true"></script>
    <script src="~/js/jquery.validate.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>
