@model BobDeathmic.Models.Stream

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/forms.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />

<div class="breadcrumbs">
    <span>Streams > Verwaltung > Editieren</span>
</div>
<div class="pa-35">
    <h2>Editieren</h2>

    <h4>Stream</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="StreamName" class="control-label"></label>
                    <input asp-for="StreamName" class="form-control" />
                    <span asp-validation-for="StreamName" class="text-danger"></span>
                </div>
                <div class="form-group d-none">
                    <label asp-for="Game" class="control-label"></label>
                    <input asp-for="Game" class="form-control" />
                    <span asp-validation-for="Game" class="text-danger"></span>
                </div>
                <div class="form-group d-none">
                    <label asp-for="UserID" class="control-label"></label>
                    <input asp-for="UserID" class="form-control" />
                    <span asp-validation-for="UserID" class="text-danger"></span>
                </div>
                <div class="form-group d-none">
                    <label asp-for="Url" class="control-label"></label>
                    <input asp-for="Url" class="form-control" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" class="form-control">
                        @foreach (var streamtype in ViewData["StreamTypes"] as List<string>)
                        {
                            <option>@streamtype</option>
                        }
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group d-none">
                    <label asp-for="Started" class="control-label"></label>
                    <input asp-for="Started" class="form-control" />
                    <span asp-validation-for="Started" class="text-danger"></span>
                </div>
                <div class="form-group d-none">
                    <label asp-for="Stopped" class="control-label"></label>
                    <input asp-for="Stopped" class="form-control" />
                    <span asp-validation-for="Stopped" class="text-danger"></span>
                </div>
                <div class="form-group d-none">
                    <label asp-for="RelayState" class="control-label"></label>
                    <select asp-for="RelayState" class="form-control"></select>
                    <span asp-validation-for="RelayState" class="text-danger"></span>
                </div>
                <div class="form-group d-none">
                    <label asp-for="StreamState" class="control-label"></label>
                    <select asp-for="StreamState" class="form-control"></select>
                    <span asp-validation-for="StreamState" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiscordRelayChannel" class="control-label"></label>
                    <select asp-for="DiscordRelayChannel" class="form-control">
                        @if (ViewData["SelectedRelayChannel"] != null && "Aus" == ViewData["SelectedRelayChannel"] as string)
                        {
                            <option selected="selected">Aus</option>
                        }
                        else
                        {
                            <option>Aus</option>
                        }
                        @if (ViewData["SelectedRelayChannel"] != null && "An" == ViewData["SelectedRelayChannel"] as string)
                        {
                            <option selected="selected">An</option>
                        }
                        else
                        {
                            <option>An</option>
                        }
                        @foreach (var relaychannel in ViewData["RelayChannels"] as IEnumerable<BobDeathmic.Models.Discord.RelayChannels>)
                        {
                            @if (ViewData["SelectedRelayChannel"] != null && relaychannel.Name == ViewData["SelectedRelayChannel"] as string)
                            {
                                <option selected="selected">@relaychannel.Name</option>
                            }
                            else
                            {
                                <option>@relaychannel.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="DiscordRelayChannel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn" asp-action="Index">Back to List</a>
    </div>
</div>