@model List<BobDeathmic.Models.Quote>
@{
    ViewData["Title"] = "Quote Liste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/table.css" />
<link rel="stylesheet" href="~/css/Stream/Status.css" />

<div class="breadcrumbs">
    <span>Streams > Verwaltung</span>
</div>
<table class="table responsive">
    <thead>
        <tr>
            <th>Streamer</th>
            <th>Erstellt</th>
            <th>Quote</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quote in Model)
        {
            <tr>
                <td>@quote.Streamer</td>
                <td>@quote.Created.ToString("dd MMMM yyyy")</td>
                <td>@quote.Text</td>
                <td>@quote.Id</td>
            </tr>
        }
    </tbody>
</table>