@model BobDeathmic.ViewModels.StreamModels.StreamListDataModel

@{
    ViewData["Title"] = "Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/table.css" />
<link rel="stylesheet" href="~/css/Stream/Status.css" />

<div class="breadcrumbs">
    <span>Streams > Status</span>
</div>
@Html.PartialAsync("_StatusMessage", Model.StatusMessage).Result
<table class="table">
    <thead>
        <tr>
            <th>Stream</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StreamList)
        {
            <tr>
                <td><a href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.StreamName)</a></td>
                @if (item.StreamState == BobDeathmic.Data.Enums.Stream.StreamState.Running)
                {
                    <td><i class="fas fa-check-circle font_green"></i></td>

                }
                else
                {
                    <td><i class="fas fa-times-circle font_red"></i></td>

                }
            </tr>
        }
    </tbody>
</table>

