
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="pa-35">
    <h2>Error</h2>
    <p>Bitte Beschreibung an den Entwickler geben was ihr getan habt bevor es zum Fehler kam</p>
</div>