@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
<link rel="stylesheet" href="~/css/Buttons.css" />
<link rel="stylesheet" href="~/css/forms.css" />
@model BobDeathmic.ViewModels.User.RequestPasswordViewModel
@{
    ViewData["Title"] = "Passwort vergessen";
}
<div class="pa-35">
    <h2>@ViewData["Title"]</h2>
    <form asp-controller="Main" asp-action="RequestPasswort" method="post" class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <button type="submit" class="btn btn-default">Neues Passwort anfragen</button>
            </div>
        </div>
    </form>

</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
