
.Logo img
{
    width:100px !important;

}
header{
    position:fixed;
    left:10px;
    top:60px;
    transform:translateY(-50%);
    z-index:50;
}
body
{
    min-height:2000px;
}
.body {
    padding-left: 125px;
}
nav
{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    margin-top:30px;
}
.navi_item {
    padding: 10px;
    background: #272c2e;
    display: inline-block;
    cursor: pointer;
    position: relative;
    min-width:40px;
    text-align:center;
}
.navi_subitem {
    background: #272c2e;
    display: inline-block;
    cursor: pointer;
    position: relative;
}
    .navi_subitem > span,
    .navi_subitem a {
        display: block;
        padding: 10px;
    }
.navi_item:hover,
.navi_item.open,
.navi_item:hover .navi_submenu > .navi_item,
.navi_item.open .navlabel {
    background: black;
}
.navi_item_label {
    width: 0;
    left: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s ease;
    overflow: hidden;
}
.subnavicontainer {
    height: 0;
    width:100%;
    transition: all 0.10s ease;
    position:relative;
    overflow:hidden;
}
    .subnavicontainer .navi_item {
        display:block;
    }
.navlabel {
    padding: 0 10px 10px 10px;
    display:block;
}
.subnavicontainer .navi_link
{
    border-left:3px solid black;
    border-bottom:1px solid black;
}
.subnavicontainer .navi_link:hover{
    color:white !important;
}
.navi_link
{
    white-space:nowrap;
    text-align:left;
}
.navi_link i
{
    min-width:30px;
}
/*
header {
    background-color: #272c2e;
    display:flex;
}
header .logo
{
    height:95px;
    padding:10px 0 10px 20px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 100px);
}
.navigation .navi_item {
    padding:35px 10px;
    flex:1;
    text-align:center;
    transition:0.5s ease all;
    cursor:pointer;
}
.navigation .navi_item:hover,
.navigation .navi_item.active
{
    background: #485358;
    color:white;
}
.navi_item:hover .open_on_hover {
    width:100px;
}
.subnavigation {
    background-color: #272c2e;
    border-top:1px solid transparent;
    transition:0.5s linear all;
    overflow:hidden;
    position:relative;
    height:0;
}
.subnavigation .menuitem{
    margin-bottom:20px;
}
.navi_submenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    transition:0.25s linear all;
}
.navi_submenu.open {
    pointer-events: inherit;
    opacity: 1;
}
.navi-card {
    text-align: center;
    padding: 20px;
}
.nav_circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 15px 0;
    background: #485358;
    border-radius:9999px;
    color:white;
    position:relative;
}
.nav_circle i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition:0.5s ease all;
}
.nav_circle * {
    color: white;
    font-size: 24px;
}
.navi-card:hover .nav_circle {
    filter:invert(1);
}
.navi-card:hover a,
.navi-card a:hover {
    text-decoration: none !important;
    color: #BAC6D1 !important;
}
@media only screen and (max-width : 768px) {
    header .logo {
        height: 50px;
        padding: 10px 0 10px 20px;
    }
    .navigation .navi_item {
        padding: 15px 10px;
    }
    .navigation {
        width: calc(100vw - 55px);
    }
}
    */
