header {
    background-color: #272c2e;
    display:flex;
}
header .logo
{
    height:95px;
    padding:10px 0 10px 20px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 100px);
}
.navigation .navi_item {
    padding:35px 10px;
    flex:1;
    text-align:center;
    transition:0.5s ease all;
    cursor:pointer;
}
.navigation .navi_item:hover,
.navigation .navi_item.active
{
    background: #485358;
    color:white;
}
.navi_item:hover .open_on_hover {
    width:100px;
}
.subnavigation {
    background-color: #272c2e;
    border-top:1px solid transparent;
    transition:0.5s linear all;
    overflow:hidden;
    position:relative;
    height:0;
}
.subnavigation .menuitem{
    margin-bottom:20px;
}
.navi_submenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    transition:0.25s linear all;
}
.navi_submenu.open {
    pointer-events: inherit;
    opacity: 1;
}
.navi-card {
    text-align: center;
    padding: 20px;
}
.nav_circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 15px 0;
    background: #485358;
    border-radius:9999px;
    color:white;
    position:relative;
}
.nav_circle i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition:0.5s ease all;
}
.nav_circle * {
    color: white;
    font-size: 24px;
}
.navi-card:hover .nav_circle {
    filter:invert(1);
}
.navi-card:hover a,
.navi-card a:hover {
    text-decoration: none !important;
    color: #BAC6D1 !important;
}
@media only screen and (max-width : 768px) {
    header .logo {
        height: 50px;
        padding: 10px 0 10px 20px;
    }
    .navigation .navi_item {
        padding: 15px 10px;
    }
    .navigation {
        width: calc(100vw - 55px);
    }
}