.userListItem
{
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;
    padding-top:10px;
    border-top:1px solid black;
}
.template:first-child
{
    margin-top:20px;
}
.template{
    padding:20px;
    position:relative;
}
.template:nth-child(odd) {
    background: #272c2e !important;
}
.template .days
{
    display:flex;
    justify-content:space-around;
    margin-bottom:20px;
}
.template .days .day
{
    display:flex;
    flex-direction:column;
}
.template .times
{
    display:flex;
    justify-content:space-around;
}
.template .times .time
{
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    text-align:center;
}
.template .delete
{
    position:absolute;
    left:0;
    bottom:0;
    opacity:0.6;
    transition:0.5s ease all;
}
.template .delete:hover {
    opacity: 1;
}


.date{
    font-size:14px;
    font-weight:bold;
}
.time {
    font-size: 10px;
    font-weight: bold;
}

.requestNode {
    position: relative;
}
.requestNode:after
{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:10px;
    content:"";
}
.usernode {
    background: #272c2e;
    color: #BAC6D1;
}
.usernode:nth-child(even) {
    background:transparent;
}
.EventDate
{
    flex:0 0 30%;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:50px;
}
.EventDateContainer
{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap:wrap;
}
.voteoption {
    background: transparent;
    color: white !important;
    flex: 1;
    text-align: center;
    padding: 5px 0;
    opacity: 0.2;
    transition:0.5s ease all;
    cursor:pointer;
    position:relative;
}
.processing .lds-dual-ring {
    opacity: 1;
}

.voteoption.processing i {
    opacity: 0 !important;
}
.voteoption .fa-info
{
    position:absolute;
    right:5px;
    bottom:5px;
    color:black;
}
.commentBox {
    position: absolute;
    top: 100%;
    padding: 10px;
    background: #272c2e;
    left:50%;
    transform:translateX(-50%);
    opacity:0 !important;
    transition:0.5s ease all;
    pointer-events:none;
    z-index:10006;
    min-width:100%;
    width:200px;
    max-width:100vw;
    opacity:1;
}
.voteoption:hover .commentBox {
    opacity: 1 !important;
}
.voteoption i
{
    pointer-events:none;
    opacity:1;
}


.greenbg {
    background: green;
    color: white !important;
}
.redbg {
    background: red;
    color: white !important;
}
.yellowbg {
    background: yellow;
}
.greenbg i,
.redbg i
{
    color:white;
}
.voteoption.active {
    opacity: 1;
    cursor: inherit;
}
.voteoption.yellowbg
{
    cursor:pointer;
}
.voteoption:hover {
    opacity: 1;
}
.voteoptionforeign{
    opacity:0.8;
    cursor:inherit;
}

@media only screen and (max-width : 768px) {
    .EventDate
    {
        flex:1 0 100%;
    }
}


.lds-dual-ring {
    display: inline-block;
    width: 20px;
    height: 20px;
    position:absolute;
    top:50%;
    left:50%;
    opacity:0;
    pointer-events:none;
    transform:translateX(-50%) translateY(-50%);
}


.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@media (max-width: 768px) {
    .usernode span:nth-child(1)
    {
        order:2;
    }
    .usernode span:nth-child(2) {
        order: 1;
    }
}
