body {
    background: #485358;
   
}
    
button
{
    padding:5px;
    background:black;
    color:white;
    border-radius:3px;
}

.bg_dark
{
    background:#272c2e;
}
.breadcrumbs {
    padding-top: 12px;
    padding-left: 6px;
    padding-bottom: 5px;
    padding-right: 6px;
    border-bottom: 2px solid #272c2e;
}