body {
    min-height:100vh;
    padding-bottom:30px;
    position:relative;
}
footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: #272c2e;
    width: 100%;
    padding: 10px 20px;
    justify-content: space-between;
}
.body {
    background: #485358;
    min-height: calc(100vh - 95px - 50px);
}
body {
    background: #485358;
}

button {
    padding: 5px;
    background: black;
    color: white;
    border-radius: 3px;
}

.bg_dark {
    background-color: #272c2e;
}

.breadcrumbs {
    padding-top: 12px;
    padding-left: 6px;
    padding-bottom: 5px;
    padding-right: 6px;
    border-bottom: 2px solid #272c2e;
}
.text-center {
    text-align:center;
}
.pointer{
    cursor:pointer;
}