{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;PORT=3307;Database=bobcoreef;User=root;Password=kermit22;"
  },
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "Commands": [
    {
      "Name": "Help",
      "Twitch": "false",
      "Discord": "true"
    },
    {
      "Name": "UpTime",
      "Twitch": "false",
      "Discord": "false"
    },
    {
      "Name": "stream",
      "Twitch": "true",
      "Discord": "false"
    },
    {
      "Name": "strawpoll",
      "Twitch": "true",
      "Discord": "false"
    },
    {
      "Name": "game",
      "Twitch": "true",
      "Discord": "false"
    },
    {
      "Name": "title",
      "Twitch": "true",
      "Discord": "false"
    }
  ],
  "WebServerWebAddress": "LOCALEADDRESS"
}
